.idea/.name
.idea/MyMusicSQL.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
My Music.xcodeproj/project.xcworkspace/xcuserdata/cpu11808.xcuserdatad/UserInterfaceState.xcuserstate
My Music.xcodeproj/project.xcworkspace/xcuserdata/cpu11808.xcuserdatad/xcschemes/xcschememanagement.plist
My Music.xcodeproj/xcuserdata/cpu11808.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
My Music.xcodeproj/xcuserdata/cpu11808.xcuserdatad/xcschemes/My Music.xcscheme
